{% extends "base.html" %}
{% block head %}
<title>Taskezy</title>
{% endblock %}


{% block body %}
<div class="wrapper">
  <h1 id="welcome_head">Welcome!</h1>
  <ul class="block">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p class="flashes red bolder block">{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  </ul>
  <div class="wrapper-container bold">
  <div id="panel_register" class="align-top custom-border">
    <p class="on-border">Register</p>
    <form action="/register" method="POST">
      <div class="form-group row">
        <label for="name_register" class="col-sm-4 col-form-label">Name</label>
        <div class="col-sm-7">
          {% if form and form['name'] %}
            <input type="text" class="form-control" id="name_register" name="name" value={{ form['name'] }}>
          {% else %}
            <input type="text" class="form-control" id="name_register" name="name" placeholder="Name">
          {% endif %}
        </div>
      </div>
      <div class="form-group row">
        <label for="username_register" class="col-sm-4 col-form-label">Username</label>
        <div class="col-sm-7">
          {% if form and form['Username'] %}
            <input type="text" class="form-control" id="username_register" name="username" value={{ form['username'] }}>
          {% else %}
            <input type="text" class="form-control" id="username_register" name="username" placeholder="Username">
          {% endif %}
        </div>
      </div>
      <div class="form-group row">
        <label for="password_register" class="col-sm-4 col-form-label">Password</label>
        <div class="col-sm-7">
          <input type="password" class="form-control" id="password_register" name="password" placeholder="Password">
          <span class="helper-text">*Password should be at least 8 characters</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="confirm_pw_register" class="col-sm-4 col-form-label">Confirm PW</label>
        <div class="col-sm-7">
          <input type="password" class="form-control" id="confirm_pw_register" name="confirm_pw" placeholder="Confirm PW">
        </div>
      </div>
      <div class="form-group row">
        <label for="date_hired" class="col-sm-4 col-form-label">Date Hired</label>
        <div class="col-sm-7">
          <input type="date" class="form-control" id="date_hired" name="date_hired">
        </div>
      </div>
      <div class="text-right form-group row">
        <div class="col-sm-11">
          <button type="submit" class="button">Register</button>
        </div>
      </div>
    </form>
  </div>
  <div id="panel_login" class="align-top custom-border">
    <p class="on-border">Login</p>
    <form action="/login" method="POST">
      <div class="form-group row">
        <label for="username_login" class="col-sm-4 col-form-label">Username</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="username_login" name="username" placeholder="Username">
        </div>
      </div>
      <div class="form-group row">
        <label for="password_login" class="col-sm-4 col-form-label">Password</label>
        <div class="col-sm-7">
          <input type="password" class="form-control" id="password_login" name="password" placeholder="Password">
        </div>
      </div>
      <div class="text-right form-group row">
        <div class="col-sm-11">
          <button type="submit" class="button">Login</button>
        </div>
      </div>
    </form>
  </div>
  </div>
</div>


{% endblock %}